@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,700;1,400&display=swap");
body {
  margin: 0;
  font-family: 'DM Sans', Arial;
  background-color: #f6f6f6;
}

code {
  font-size: 0.875rem;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  background-color: lightpink;
  padding: 3px 5px;
}

h1 {
  margin: 0rem 0 0.5rem 0;
  padding: 0;
  font-size: 1.5rem;
}

.App {
  padding: 1rem 1.5rem;
  margin: 2rem auto;
  width: 90%;
  max-width: 500px;
  background-color: #fff;
  -webkit-box-shadow: 3px 3px 3px #ccc;
          box-shadow: 3px 3px 3px #ccc;
}

.add-task-row {
  padding: 10px;
}

.status-heading {
  margin: 2rem 10px 0.5rem;
  font-weight: 700;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #444;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.ed-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check-col {
  color: #aaa;
  margin-right: 10px;
}

.check-col:hover {
  color: #2bc3e4;
  cursor: pointer;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.desc-col {
  width: 90%;
}

.desc-col input {
  border: 0;
  border-bottom: 1px dotted #ccc;
  background: #fff;
  font-family: 'DM Sans', Arial;
  font-size: 1rem;
  width: 100%;
}

.desc-col input:focus {
  outline: none;
}

.desc-col input:disabled {
  border: 0;
  cursor: text;
  color: #000;
}

.edit-col {
  padding: 0;
  background-color: #fff;
  border: 0;
  font-weight: 700;
  font-family: 'DM Sans', Arial;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: #aaa;
}

.edit-col:hover {
  color: #555;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.delete-col {
  margin-left: 10px;
  color: #aaa;
  font-size: 1.5rem;
}

.delete-col:hover {
  color: #c70039;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

ul.overview {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

ul.overview li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 10px;
}

ul.overview li:last-child {
  border: 0;
}

ul.completed li .check-col {
  color: #2bc3e4;
  cursor: default;
}

ul.completed li .desc-col {
  color: #ccc;
}

.add-task-row {
  background-color: #f5f5f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
}

.add-task-row .col {
  width: 90%;
}

.add-task-row .check-col:hover {
  color: #aaa;
  cursor: default;
}

.add-task-row .desc-col {
  width: 100%;
}

.add-task-row .desc-col input {
  margin-right: 5px;
  border: 0;
  border-radius: 10px;
  background-color: #f5f5f5;
  font-family: 'DM Sans', Arial;
  font-size: 1rem;
  width: 100%;
}

.add-task-row .desc-col input:focus {
  outline: none;
}

.add-task-row .desc-col ::-webkit-input-placeholder {
  color: #555;
  opacity: 1;
}

.add-task-row .desc-col :-ms-input-placeholder {
  color: #555;
  opacity: 1;
}

.add-task-row .desc-col ::-ms-input-placeholder {
  color: #555;
  opacity: 1;
}

.add-task-row .desc-col ::placeholder {
  color: #555;
  opacity: 1;
}

.add-task-row button {
  height: 30px;
  width: 30px;
  border: 0;
  border-radius: 50%;
  background-color: #2bc3e4;
  color: #fff;
  font-family: 'DM Sans', Arial;
  font-weight: 700;
  font-size: 1.25rem;
}

.add-task-row button:hover {
  background-color: #fff;
  color: #2bc3e4;
  cursor: pointer;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

@media (max-width: 600px) {
  .App {
    margin: 0 auto;
  }
}
/*# sourceMappingURL=index.css.map */